<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit in fugit voluptas? 
               Ut quas facere placeat nisi sunt beatae eaque a aut,consequuntur debitis autem inventore corporis distinctio eligendi totam.
            </p>
        </div>
    </div>
</div>


<!-- Edit Contact Form-->
<div class="container">
   <div class="row">
      <div class="col-sm-4">
        <form>
            <div class="mb-2">
                <input class="form-control"  placeholder="Name" type="text">
            </div>
            <div class="mb-2">
                <input  class="form-control" placeholder="Photo Url" type="text">
            </div>
            <div class="mb-2">
                <input  class="form-control" placeholder="Email" type="email">
            </div>  
            <div class="mb-2">
                <input  class="form-control" placeholder="Mobile" type="number">
            </div>  
            <div class="mb-2">
                <input  class="form-control" placeholder="Company" type="email">
            </div>  
            <div class="mb-2">
                <input  class="form-control" placeholder="Title" type="text">
            </div>  
            <div class="mb-2">
                <select class="form-control">
                    <option value="">Select a Group</option>
                </select>
            </div>  
            <div class="mb-2">
                <input class="btn btn-danger" value="Update" type="submit">
                <a routerLink="/" class="btn btn-dark ms-2">Close</a>
            </div>  
        </form>
      </div>
      <div class="col-sm-4">
        <img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm9Q0T-uwogA2Gflw8y-JIPmrOwjPDjDulF-s_GucYIKagv0U7aGVczHnDPHnE8z6toco&usqp=CAU"
            class="contact-img">
    </div>
   </div>
</div>



